#bg-dark {
  position: fixed;
  top: -40%;
  left: -40%;
  right: -40%;
  bottom: -40%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.padding {
  padding: 1rem;
}
.frame {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0px;
}
.fr {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border-bottom-width: 2px;
}
.fr-convex {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fr-concave {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button,
.btn {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #ddd;
  color: #555555;
  background: #fff;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:hover,
.btn:hover {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #bbbbbb;
  color: #222;
  background: #fff;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:active,
.btn:active {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #bbbbbb;
  color: #222;
  background: #dddddd;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-width: 1px;
  border-top-width: 2px;
}
.btn-white {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #ddd;
  color: #555555;
  background: #fff;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-color: rgba(255, 255, 255, 0);
}
.btn-white {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: rgba(255, 255, 255, 0);
  color: #555555;
  background: #fff;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-white:hover {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #bbbbbb;
  color: #222;
  background: #fff;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-white:active {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #bbbbbb;
  color: #222;
  background: #dddddd;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-width: 1px;
  border-top-width: 2px;
}
.btn-color {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #0794d4;
  color: #fff;
  background: #18a5e5;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-color:hover {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #0072b2;
  color: #fff;
  background: #29B6F6;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-color:active {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #0072b2;
  color: #fff;
  background: #0794d4;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-width: 1px;
  border-top-width: 2px;
}
.btn-err {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #9a0000;
  color: #fff;
  background: #bc1313;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-err:hover {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #780000;
  color: #fff;
  background: #cd2424;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-err:active {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #780000;
  color: #fff;
  background: #ab0202;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-width: 1px;
  border-top-width: 2px;
}
.btn-warn {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #c98f00;
  color: #fff;
  background: #ebb116;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-warn:hover {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #a76d00;
  color: #fff;
  background: #fcc227;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-warn:active {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #a76d00;
  color: #fff;
  background: #daa005;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-width: 1px;
  border-top-width: 2px;
}
.btn-ok {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #399a00;
  color: #fff;
  background: #5bbc13;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-ok:hover {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #177800;
  color: #fff;
  background: #6ccd24;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-ok:active {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #177800;
  color: #fff;
  background: #4aab02;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-width: 1px;
  border-top-width: 2px;
}
.btn-group {
  display: table;
  /* padding: 0.1em 0.4em;*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-group *[class^=btn],
.btn-group button {
  margin: 0em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 1em 0;
  border-radius: 0;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.btn-group *[class^=btn]:first-child,
.btn-group button:first-child {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.btn-group *[class^=btn]:last-child,
.btn-group button:last-child {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
/*
.row{
	float: none;
    clear: both;
    overflow: hidden;
    
    &:before, &:after{
        content: "";
        .clear;
        display: table;
    }  	
    .left{
    	float: left;
    	text-align: left;
    } 	
    .right{
    	float: right;	
    	text-align: right;
    }
    .col2{
    	float: left;
    	width: 12.5%;
    }
    .col3{
    	float: left;
    	width: 18.75%;
    }
    .col4{
    	float: left;
    	width: 37.5%;
    }
    .col5{
    	float: left;
    	width: 31.25%;
    }
    .col6{
    	float: left;
    	width: 50%;
    }
    .col12{
    	float: left;
    	width: 100%;
    }
}
*/
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}
.column {
  flex: 1 1 0;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #555;
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #ddd;
  color: #222;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 16px;
}
img {
  border: none;
}
img:before {
  content: " ";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  height: calc(110%);
  width: 100%;
  background-color: #e6e6e6;
  border: 2px dotted #c8c8c8;
  border-radius: 5px;
}
img:after {
  content: "\f127" " Битая картинка " attr(alt);
  display: block;
  font-size: 16px;
  font-style: normal;
  font-family: FontAwesome;
  color: #646464;
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #777;
  border-bottom: 1px solid #ddd;
  cursor: default;
}
#content > h1:first-of-type {
  margin-top: 0;
}
a {
  color: #0288D1;
  text-decoration: none;
  transition: color 0.2s ease-out;
}
a:hover {
  color: #29B6F6;
}
.bt {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #777;
  padding: .2em;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.bt:hover {
  background: #888888;
}
.bt:active {
  background: #666666;
}
.mod_win {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  position: fixed;
  width: 20em;
  height: 15em;
  top: 1em;
  z-index: 999;
}
#dbg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 88;
  background: rgba(0, 0, 0, 0.7);
}
.max_width {
  max-width: 1000px;
  margin: 0 auto;
  float: none;
  clear: both;
}
.max_width:before,
.max_width:after {
  content: "";
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
#wrapper {
  width: 100%;
}
.center {
  text-align: center;
}
#top_panel {
  width: 100%;
  padding: 0.5rem;
}
#logo_row {
  float: none;
  clear: both;
  overflow: visible;
  position: relative;
  padding-bottom: 0.5rem;
}
#logo_row:before,
#logo_row:after {
  content: "";
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
#logo_row #logo_place {
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid #fff;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  box-shadow: 0 0 0.3rem 0rem rgba(0, 0, 0, 0.2), 0px 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.1);
}
#logo_row #logo_place img {
  background: #29B6F6;
  display: table;
  width: 100%;
}
#logo_row #menu_toggle {
  width: 9rem;
  height: 3rem;
  color: #aaaaaa;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
#logo_row #menu_toggle:hover {
  color: #29B6F6;
}
#logo_row #menu_toggle:active {
  color: #0794d4;
}
#logo_row #menu_toggle i {
  font-size: 200%;
  margin: 0.5rem;
}
#main_menu {
  margin: 0;
  padding: 0;
}
#main_menu li {
  display: block;
  margin: 0;
  padding: 0;
}
#main_menu .separator {
  border-top: 1px solid #777;
}
#main_menu a {
  padding: 0.9rem 0.2rem;
  width: 100%;
  display: block;
  color: #777;
  font-weight: 600;
  font-size: 120%;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  transition: color 0.2s ease-out;
}
#main_menu a:hover {
  color: #29B6F6;
}
#main_menu a:active {
  color: #0794d4;
}
#content {
  padding: 0.5rem;
}
#sidebar {
  display: none;
}
#footer {
  border-top: 1px solid #ddd;
  padding: 1rem 0;
  color: #777;
  background: #f7f7f7;
}
#footer #vk_groups {
  margin: 0 auto;
}
#footer .links {
  margin: 0;
  padding: 0;
}
#footer .links li {
  display: block;
  margin: .6rem 0;
  padding: 0;
}
#footer .text {
  text-align: justify;
}
#footer .flex_container {
  display: block;
}
#footer .flex_footer {
  text-align: center;
}
.sheet {
  background-color: #fff;
  width: 21cm;
  height: 30cm;
  margin: 0 auto;
  padding: 0.8cm;
}
.abilities {
  background: #eee;
  border-radius: .2cm;
  padding: .2cm;
  padding-top: .4cm;
  flex-grow: 0.3;
}
.abilities .ability {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  border: 2px solid #222;
  border-radius: .2cm;
  position: relative;
  background: #fff;
  margin-bottom: .4cm;
}
.abilities .ability .title {
  margin: 0.1cm;
  text-transform: uppercase;
  font-size: 60%;
  font-weight: bold;
}
.abilities .ability .modificator {
  height: 1.7cm;
  text-align: center;
}
.abilities .ability .number {
  position: absolute;
  bottom: -0.2cm;
  height: .7cm;
  left: .3cm;
  right: .3cm;
  display: block;
  background: #fff;
  padding: .1cm;
  border: 2px solid #222;
  border-radius: .2cm;
}
@media only screen and (min-width: 767px) {
}
