#wrapper{

}
.flex-nowrap{
  flex-wrap: nowrap;
}
.sheet{
    background-color: @white;
    width: 21cm;
    height: 30cm;
    margin: 0 auto;
    padding: 0.8cm;
}

.header_char{
  display: flex;
  margin-bottom: .3cm;
}
.header_char_main_info{
  flex-grow: 2;
  display: flex;
  border: 2px solid @d-gray;
  border-radius: .2cm;

  .char_name{
    flex-grow: 3;
  }
  .char_level{
    flex-shrink: 3;
  }
}
.header_char_other_info{
  flex-grow: 3;
  border: 2px solid @d-gray;
  border-radius: .2cm;

}
.labled_input{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 1;
  input{
    width: 100%;
    border: none;
    border-bottom: 1px solid @l-gray;
    border-radius: .2cm;
  }
  label{
    width: 100%;
  }
}

.abilities_skills{
  .column{
    flex-grow: 3;
  }
  .abilities{
    flex-grow: 1;
  }
}

.abilities{
    background: @ll-gray;
    border-radius: .2cm;
    padding: .2cm;
    padding-top: .4cm;
    flex-grow: 0.3;

    .ability{
        .row();
        border: 2px solid @d-gray;
        border-radius: .2cm;
        position: relative;
        background: @white;
        margin-bottom: .4cm;

        .title{
            margin: 0.1cm;
            text-transform: uppercase;
            font-size: 60%;
            font-weight: bold;
        }
        .modificator{
            height: 1.7cm;
            text-align: center;
        }
        .number{
            position: absolute;
            bottom: -.2cm;
            height: .7cm;
            left: .3cm;
            right: .3cm;
            display: block;
            background: @white;
            padding: .1cm;

            border: 2px solid @d-gray;
            border-radius: .2cm;
        }
    }
}

.saving_throws{
  border: 2px solid @d-gray;
  border-radius: .2cm;

  .item{
    width: 100%;
  }
}

.skills{
  border: 2px solid @d-gray;
  border-radius: .2cm;

  .item{
    width: 100%;
  }
}

.passive_wisdom{
  border: 2px solid @d-gray;
  border-radius: .2cm;

  display: flex;
  width: 100%;

  .number{
    border: 2px solid @d-gray;
    border-radius: .2cm;
  }
  .title{
    flex-grow: 6;
  }
}

.other_proficiencies{
  border: 2px solid @d-gray;
  border-radius: .2cm;
  display: flex;
  flex-direction: column;
  width: 100%;

  .text{
    flex-grow: 7;
  }
  .title{

  }

}

/* second column */
.panel{
  /*border: 2px solid @d-gray;*/
  border-radius: .2cm;
  background: @l-gray;

  .parameter{
    border: 2px solid @d-gray;
    border-radius: .2cm;
    position: relative;
    .title{
      position: absolute;
      bottom: .1cm;
      left: .1cm;
      right: .1cm;
    }
    .number{
      width: 100%;
      height: 2cm;
    }
  }

}

.hitpoints{
  border: 2px solid @d-gray;
  border-radius: .2cm;

  .maximum{
    display: flex;

    .title{
    }
    .number{
      border-bottom: 1px solid @m-gray;
    }
  }
  .current{
    position: relative;
    .title{
      position: absolute;
      bottom: .2cm;
      left: .2cm;
      right: .2cm;
    }
    .number{
      width: 100%;
    }
  }
}

.temporary_hitpoint{
  border: 2px solid @d-gray;
  border-radius: .2cm;
  width: 100%;
  position: relative;
  .title{
    position: absolute;
    bottom: .2cm;
    left: .2cm;
    right: .2cm;
  }
  .number{
    width: 100%;
  }
}

.hit_dice{
  border: 2px solid @d-gray;
  border-radius: .2cm;
  width: 100%;

  .total{
    display: flex;

    .title{

    }
    .number{
      border-bottom: 1px solid @m-gray;
    }
  }

  .type{
    display: flex;
    flex-direction: column;
    .title{
      text-align: center;
    }
    .number{
      flex-grow: 3;
    }
  }
}

.death_saves{
  border: 2px solid @d-gray;
  border-radius: .2cm;
  width: 100%;
}

.attack{
  table{
    td,th{
      background: @l-gray
    }
  }
}

.equipment{
  display: flex;
  flex-direction: column;

  .content{
    flex-grow: 6;
    display: flex;
  }
  .title{

  }
}
.money{
  flex-grow: 1;

  .item{
    display: flex;
    .coin{
      border: 2px solid @d-gray;
      border-radius: .2cm;
    }
    .number{
      flex-grow: 3;
      border: 2px solid @d-gray;
      border-radius: .2cm;
    }
  }
}
.bag{
  flex-grow: 5;
}

/* 3 column */

.personality{
  .item{
    display: flex;
    flex-direction: column;
    .text{
      flex-grow: 4;
    }
    .title{
      text-align: center;
    }
  }
}

.features{
  border: 2px solid @d-gray;
  border-radius: .2cm;
  width: 100%;
  display: flex;
  flex-direction: column;
  .text{
      flex-grow: 9;
    }
    .title{
      text-align: center;
    }

}
