#wrapper{

}
.flex-nowrap{
  flex-wrap: nowrap;
}
.sheet{
    background-color: @white;
    width: 21cm;
    height: 30cm;
    margin: 0 auto;
    padding: 0.8cm;
}

.header_char{
  display: flex;
  margin-bottom: .3cm;
}
.header_char_main_info{
  flex-grow: 2;
  display: flex;
  border: 2px solid @d-gray;
  border-radius: .2cm;

  .char_name{
    flex-grow: 3;
  }
  .char_level{
    flex-shrink: 3;
  }
}
.header_char_other_info{
  flex-grow: 3;
  border: 2px solid @d-gray;
  border-radius: .2cm;

}
.labled_input{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 1;
  input{
    width: 100%;
    border: none;
    border-bottom: 1px solid @l-gray;
    border-radius: .2cm;
  }
  label{
    width: 100%;
  }
}

.abilities_skills{
  .column{
    flex-grow: 3;
  }
  .abilities{
    flex-grow: 1;
  }
}

.abilities{
    background: @ll-gray;
    border-radius: .2cm;
    padding: .2cm;
    padding-top: .4cm;
    flex-grow: 0.3;
    
    .ability{
        .row();
        border: 2px solid @d-gray;
        border-radius: .2cm;
        position: relative;
        background: @white;
        margin-bottom: .4cm;
        
        .title{
            margin: 0.1cm;
            text-transform: uppercase;
            font-size: 60%;
            font-weight: bold;
        }
        .modificator{
            height: 1.7cm;
            text-align: center;
        }
        .number{
            position: absolute;
            bottom: -.2cm;
            height: .7cm;            
            left: .3cm;            
            right: .3cm;
            display: block;
            background: @white;
            padding: .1cm;
            
            border: 2px solid @d-gray;
            border-radius: .2cm;
        }
    }
}

.saving_throws{
  border: 2px solid @d-gray;
  border-radius: .2cm;
}